{% load crispy_forms_tags static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Singup</title>
</head>
<body>
    <section class="login">
        <div class="container2 h-100">
          <div class="row justify-content-md-center">
            <div class=" my-auto col-md-auto">
              <div class="-content mx-auto">
                <a href="/"></a>
                <div class="login-page">
                  <div class="form2">
                    {% crispy form %}
                    {%if login == 'login'%}
                    <a href="{% url 'usuari:signup' %}"><b>Crea un
                        compte</b></a>
    
                    {%elif signup == 'signup'%}
                    <a href="{% url 'usuari:login' %}"><b>Inicia sessió</b></a>
                    <p>Al registrar-se, accepta les politiques imposades per CanPasamane, pot llegir les nostres politiques a
                      <a href="{% url 'usuari:policy' %}">Politiques de Privacitat</a>
                    </p>
                    {% else %}
                    <a href="{% url 'usuari:profile' user %}">Ves al perfil</a>
                    {%endif%}
                  </div>
                </div>
      </section>  
</body>
</html>