{% extends 'bienvenida.html' %}

{% block content %}
<div style="padding: 5px; width: 80%; border-radius: 5px; background-color: rgba(255, 255, 255, 0.295);margin: 0 auto;">
        <h1 style="margin-top: 100px">Activitats</h1>
    <div class="row" style=" margin-top: 15px">
            
        <div class="col-sm-6" style=" margin-top: 5px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Excursions a caball</h5>
                    <p class="card-text">Ets un/a amant dels caballs? Tens ganes de fer un paseig per camins montat/da sobre un caball? Doncs no et perdis aquestes excursions a caball de Can Pot</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style=" margin-top: 5px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sortides amb caiac</h5>
                    <p class="card-text">Vols viure l'experiencia d'anar amb caiac o repetirla? Podràs disfrutar d'excursions amb caiac ben aprop, a Darnius.</p>
                    <a href="http://es.salines-bassegoda.org/ocio-y-bienestar/actividades-acuaticas/piraguismo-y-kayak-462.html" class="btn btn-primary">Més informació</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style=" margin-top: 5px">
            
        <div class="col-sm-6" style=" margin-top: 5px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Rutes amb bicicleta</h5>
                    <p class="card-text">T'agrada anar amb bicicleta i notar l'aire pur de l'Empordà a la cara? Doncs no et perdis aquestes rutes que desde Can Pasamane us recomenem!</p>
                    <a href="http://salinesbassegoda.org/en-bicicleta/centre-btt/rutes-btt/" class="btn btn-primary">Més informació</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style=" margin-top: 5px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Passejar pel mercat</h5>
                    <p class="card-text">Si les activitats anteriors son massa mogudes i vols fer alguna cosa més tranquila però no et vols quedar a la casa, Can Pasamane et recomenem que vagis a fer una volta pel mercat de figueres</p>
                    <a href="http://ca.figueres.cat/la-ciutat/promocio-economica/mercats/mercats-13991/" class="btn btn-primary">Més informació</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-center" style=" margin-top: 15px">
        <div class="card-body">
            <h5 class="card-title">Perdres per la Natura</h5>
            <p class="card-text">Si ets un amant dels productes que ofereix la natura a les terres empordaneses hi trobaràs, aliments com els bolets, cargols, espàrrecs i infinitat de productes més en funció de l’època de l’any.</p>
            <a href="http://www.xn--caadorsdebolets-fmb.com/" class="btn btn-primary">Més informació</a>
        </div>
    </div>
    <h1 style="margin-top: 100px">Llocs d'interés</h1>
    <div class="row" style=" margin-top: 15px">
            
        <div class="col-sm-6" style=" margin-top: 5px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Centre comercial la Jonquera</h5>
                    <p class="card-text"></p>
                    <a href="https://www.granjonquera.com/es/" class="btn btn-primary">Més informació</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style=" margin-top: 5px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Museu del Joguet</h5>
                    <p class="card-text"></p>
                    <a href="https://www.mjc.cat/es/" class="btn btn-primary">Més informació</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style=" margin-top: 5px">
            
        <div class="col-sm-6" style=" margin-top: 5px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Museu Dalí</h5>
                    <p class="card-text"></p>
                    <a href="https://www.salvador-dali.org/es/?gclid=Cj0KCQjwuLPnBRDjARIsACDzGL1ZGxLNZ2xqXrlwOcSTo47GTMxZtjyRNr3dxEILRTS7Dp3qu8lbuawaAqgmEALw_wcB" class="btn btn-primary">Més informació</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style=" margin-top: 5px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Castells</h5>
                    <p class="card-text">La comarca de l’Alt Empordà es caracteritza per tenir un gran nombre de castells, com per exemple castell de Sant Ferran, castell de Quermançó i els castells de Les Escaules, Llers i Boadella</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style=" margin-top: 5px">
            
            <div class="col-sm-6" style=" margin-top: 5px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Casino de Peralada</h5>
                        <p class="card-text"></p>
                        <a href="https://www.casinoperalada.com/" class="btn btn-primary">Més informació</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style=" margin-top: 5px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Platges i cales</h5>
                        <p class="card-text"></p>
                        <a href="" class="btn btn-primary">Més informació</a>
                    </div>
                </div>
            </div>
        </div>
        <h1 style="margin-top: 100px">Gastronomia</h1>
        <div class="row" style=" margin-top: 15px">
                
            <div class="col-sm-6" style=" margin-top: 5px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">La Societat de les Escaules</h5>
                        <p class="card-text"></p>
                        <a href="" class="btn btn-primary">Més informació</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style=" margin-top: 5px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">El trull d'en Francesc</h5>
                        <p class="card-text"></p>
                        <a href="https://www.trull-boadella.com/es/trull-francesc-boadella-alt-emporda-girona.aspx" class="btn btn-primary">Més informació</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style=" margin-top: 5px">
                
            <div class="col-sm-6" style=" margin-top: 5px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">El molí</h5>
                        <p class="card-text"></p>
                        <a href="http://www.hotelelmoli.es/es" class="btn btn-primary">Més informació</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style=" margin-top: 5px">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Restaurant Amiel i Molins</h5>
                        <p class="card-text"></p>
                        <a href="http://www.amielmolins.com/?lang=es" class="btn btn-primary">Més informació</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style=" margin-top: 5px">
                
                <div class="col-sm-6" style=" margin-top: 5px">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Bar Can Surreyes</h5>
                            <p class="card-text"></p>
                            <a href="https://es.restaurantguru.com/Can-Surreyes-Llers" class="btn btn-primary">Més informació</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style=" margin-top: 5px">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">El corral</h5>
                            <p class="card-text"></p>
                            <a href="http://www.elcorraldellers.com/es/" class="btn btn-primary">Més informació</a>
                        </div>
                    </div>
                </div>
            </div>
            <h1 style="margin-top: 100px">Poblacions del voltant</h1>
            <div class="row" style=" margin-top: 15px">
                    
                <div class="col-sm-6" style=" margin-top: 5px">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Girona</h5>
                            <p class="card-text"></p>
                            <a href="https://equipatgedema.cat/catalunya/girona/que-veure-a-girona-en-un-dia/" class="btn btn-primary">Més informació</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style=" margin-top: 5px">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Figueres </h5>
                            <p class="card-text"></p>
                            <a href="http://ca.visitfigueres.cat/que-fer/" class="btn btn-primary">Més informació</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style=" margin-top: 5px">
                    
                <div class="col-sm-6" style=" margin-top: 5px">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Cadaqués </h5>
                            <p class="card-text"></p>
                            <a href="http://www.visitcadaques.org/" class="btn btn-primary">Més informació</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style=" margin-top: 5px">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Besalú </h5>
                            <p class="card-text"></p>
                            <a href="http://ca.turismegarrotxa.com/municipi/besalu/" class="btn btn-primary">Més informació</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center" style=" margin-top: 15px">
                <div class="card-body">
                    <h5 class="card-title">Port de la Selva</h5>
                    <p class="card-text"></p>
                </div>
            </div>
</div>
{% endblock %}