{% extends 'bienvenida.html' %}
{% load static %}
{% block content %}
<div class="text-center mb-4" style=" padding: 5px; width: 70%; border-radius: 5px; background-color: rgba(255, 255, 255, 0.295); margin: 0 auto;margin-top: 80px;">
  <div style="width: 60%; margin: 0 auto;">
  <h1 class="h3 mb-3 font-weight-normal">Can Pasamane</h1>
  <img style="border-radius: 15%; width: 50%;" src="{% static 'canpasamane/images/cara.png' %}" alt="Usuario">
    <form method="post" action="" style="margin-top: 10px" class="form-signin">
    {% csrf_token %}
    {# A more "HTML" way of creating the login form#}
    <div>
      <input class="form-control" type="text" name="username" placeholder="email">
    </div>
    <div>
      <input class="form-control" type="password" name="password" placeholder="Contrasenya">
    </div>
  
    <button style="margin-top: 20px" type="submit">Iniciar</button>
    {% if messages %}
  <ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
  </form>
</div>  
</div>
<div style="height: 140px"></div>
{% endblock %}
