<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CanPasamane</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="">
        <a class="navbar-brand" href="{% url 'usuario:bienvenida' %}">Can Pasamane</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="navbar-collapse collapse" id="navbarCollapse" >
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'usuario:bienvenida' %}">Inici <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'usuario:historia' %}">Història</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'usuario:activitats' %}">Activitats i Recomenacions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'usuario:reserva' %}">Reserves</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'usuario:contacte' %}">Contacte</a>
            </li>
            {% if user.username == '' %}
            <li class="nav-item">
              <a class="nav-link " href="{% url 'usuario:inicioSesion' %}">Iniciar Sessió</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{% url 'usuario:registro' %}">Registre</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link " href="{% url 'logout' %}">Sortir</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav> 
<form method="post" action="" style="margin-top: 70px">
      {% csrf_token %}
      {# A more "HTML" way of creating the login form#}
      <div>
        <input type="text" name="username" placeholder="email">
      </div>
      <div>
        <input type="password" name="password" placeholder="Contrasenya">
      </div>
      <button type="submit">Iniciar</button>
      {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
    </form>
    <footer class="container">
        <p>Can Pasamane</p>
      </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>