{% extends 'bienvenida.html' %}

{% block content %}
<div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Can Pasamane</h1>
  </div>
<form method="post" action="" style="margin-top: 70px">
    {% csrf_token %}
    {# A more "HTML" way of creating the login form#}
    <div>
      <input type="text" name="username" placeholder="email">
    </div>
    <div>
      <input type="password" name="password" placeholder="Contrasenya">
    </div>
    <button type="submit">Iniciar</button>
    {% if messages %}
  <ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
  </form>
{% endblock %}
