{% extends 'bienvenida.html' %}

{% block content %}
<form method="POST" action="{% url 'usuario:registro' %}" style="margin-top: 70px">
    {% csrf_token %}
    <div class="form__InputContainer">Nom:{{form.first_name}}</div>
    <div class="form__InputContainer">Email:{{form.email}}</div>
    <div class="form__InputContainer">Contrasenya:{{form.password1}}</div>
    <div class="form__InputContainer">Repeteix Contrasenya:{{form.password2}}</div>
    <div class="form__InputContainer">Telefon:{{profile_form.telefon}}</div>
    <div class="form__InputContainer">Pais:{{profile_form.pais}}</div>
    <button type="submit">Registrar</button>
    {{ form.non_field_errors }}
</form>
{% endblock %}

