{% extends 'bienvenida.html' %}

{% block content %}
<div class="text-center mb-4"  style=" padding: 5px; width: 70%; border-radius: 5px; background-color: rgba(255, 255, 255, 0.295); margin: 0 auto;margin-top: 100px;">
    <div  style="width: 60%; margin: 0 auto;">
            <h1 class="h3 mb-3 font-weight-normal">Can Pasamane</h1>
    <form method="POST" action="{% url 'usuario:registro' %}" style="margin-top: 70px">

    {% csrf_token %}
    <div >Nom:</div>
    <div>{{form.first_name}}</div>
    <div>Email:</div>
    <div>{{form.email}}</div>
    <div>Contrasenya:</div>
    <div>{{form.password1}}</div>
    <div>Repeteix Contrasenya:</div>
    <div>{{form.password2}}</div>
    <div>Telèfon:</div>
    <div>{{profile_form.telefon}}</div>
    <div>País:</div>
    <div>{{profile_form.pais}}</div>
    <p>Al acceptar aquest registre està acceptant les nostres <a href="{% url 'usuario:politiques' %}">Politiques de privacitat</a></p>
    <button style="margin-top: 50px" type="submit">Registrar</button>
    {{ form.non_field_errors }}
</form>
</div>
</div>
<style>
input {
    width: 100%;
}
select {
    width: 100%;
}
</style>
{% endblock %}

